/* layout.css */

body {
  -webkit-font-smoothing: antialiased;

  --bg: #333333;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #ff4aaf;
  --textLinkHover: #e5429d;
  --hr: hsla(0, 0%, 100%, 0.2);

  background-color: var(--bg);
}
